.App {
  overflow-x: hidden;
}

* {
  background-color: #FFF;
  color: #000;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.image-wrapper {
  display: flex;
  justify-content: center;
}
section {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

p {
  margin: 5px 0 5px 0;
  font-size: 14px;
}

h1, h2 {
  margin: 10px 0 10px 0;
}

h3, h4 {
  margin: 5px 0 5px 0;
}

.center-italic {
  margin: 25px 0 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
  text-align: center;
}

section.landing {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}

section.landing header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

section.landing .title {
  font-size: 36px;
  margin-bottom: 15px;
}

section.landing .byline {
  font-size: 16px;
  font-style: oblique;
  margin-bottom: 20px;
}

section.landing .date {
  font-size: 14px;
  margin-bottom: 30px;
}

section .smallTitle {
  font-size: 16px;
}

.promo.image {
  width: 100vw;
  max-width: 66vh;
}

.promo-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30vh;
}
